.navbar-inverse {
    background-color: white !important;
    border-color: transparent !important;
    height:100px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,.175);
}
.navbar-inverse .navbar-nav>li>a {
    color:  #952990 !important;
}
.navbar
{
	margin-bottom: 0px;
}
.kl1
{
    height:100px;
}
.navbar-brand img {
    height: 88px;
    width: 80%;
    margin-top: -9px;
}
.navbar-header {
    height: 100px;
    width:40%; 

}
.navbar-inverse .navbar-nav>li>a {
    color: purple;
}
.navbar-inverse .navbar-nav>li {
    font-size: 23px;
    width: 150px;
    text-align: center;
    font-family: 'Mali',cursive;
    font-weight: bold;
    margin-top: 26px;
    overflow:hidden;
    position:relative;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover
{
	color:#ee4a25!important;
}
.navbar-inverse .navbar-nav>li:focus, .navbar-inverse .navbar-nav>li:hover::before
{
left:30%;
}
.navbar-inverse .navbar-nav>li:focus, .navbar-inverse .navbar-nav>li::before
{
content:"";
position:absolute;
left:-100%;
bottom:0%;
background-color: #ee4a25;
height:4px;
width:55px;
transition:0.4s ease-in-out;

}
.overlay {
    margin-top: 100px;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
   background-color: rgba(255,255,255,0.55);
  overflow: hidden;
  width: 100%;
  height:100%;
  transition: .5s ease;
}
.carousel-inner:hover .overlay {
  bottom: 0;
  height: 100%;
}
.text {
  color: #952990;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 45%;
  left: 48%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Mali',cursive;
}
.btn1  {
    margin-top:30px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    background:#ee4a25;
    height: 45px;
    color:black;

}
.btn2 {
    margin-top:30px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    background:#952990;
    height: 45px;
    color:black;

}
.btn1:hover
{
    transform: scale(1.1);
}
.btn2:hover
{
    transform: scale(1.1);
}
.btn2 a
{
font-family: 'Mali',cursive;           
    color:white;
    text-decoration: none;
    font-weight:bold;
}
.text a
{
    font-family: 'Mali',cursive;           
    color:white;
    text-decoration: none;
    font-weight:bold;
}
.text a:hover
{
font-family: 'Mali',cursive;           
    color:white;
    text-decoration: none;
    font-weight:bold;
}

.immi img
{
    margin-top: 50px;
    height:360px;
    width: 98%;
    border-radius: 10%;
    margin-bottom: 10px;
    margin-right: 8px;
    margin-left: 4px;
   box-shadow:0px 1px 9px 1px rgba(69, 69, 69, 0.97); 
}
.immi1
{
    margin-left: 10px;
    margin-right: 10px;
}
.immi1 h2
{
    color: #ee4a25;
    font-family: 'Mali', cursive;
    font-size: 30px;
    font-weight: bold;
}
.immi1 p
{
    color: #952990;
    font-family: 'Mali', cursive;
    font-size: 16px;
}
.social
{
    height:250px;
}
.social:hover
{
    box-shadow:0px 1px 9px 1px rgba(69, 69, 69, 0.97);
}
.social1 img {
    width: 26%;
    height: 30%;
    margin-top: 50px;
    margin-bottom: 10px;
}
.social  h2
{
    font-weight: bold;
    font-family: 'Mali', cursive;
    font-size: 20px;
    color: #ee4a25;
}
.social h2:hover
{
  color: #952990;
}
.footer
{
        font-family: 'Open Sans', sans-serif;
            background-color: #952990;
            color:white;
            font-weight: bold;
            padding-top: 10px;
            margin-top: 2px;
}

.immi
{
    position: relative;
}
.overlay1 {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top:50px;
      background-color:rgba(4, 4, 4, 0.5);;
      overflow: hidden;
      width: 98%;
      height:360px;
      transition: 0.3s ease;
      transform: scale(0);
      overflow:hidden;
      border-radius: 10%;
      margin-bottom: 10px;
    margin-right: 8px;
    margin-left: 4px;
    }
    .immi:hover .overlay1 {
      transform: scale(1);
      }
      .overlay1 button
    {
        font-family: 'Arvo', serif;
        
        font-size:15px;
        border-radius: 10px;
        border:none;
        background:#ee4a25;
        height:40px;
        color:black;
    }
    .overlay1 button:hover
    {
        transform: scale(1.1);
    }
     .text1 {
       font-family: 'Open Sans', sans-serif;
        font-weight:bold;
      color:#ee4a25;
      font-size:20px;
      position: absolute;
      top: 50%;
      right: -100%;
      text-align: center;
      transform: translate(-50%, -50%);
      transition: right 0.9s ease-in-out;
    }
    .overlay1:hover .text1
    {
        right:33%;
    }