@media only screen and (max-width: 600px)
{
button.navbar-toggle {
    background-color: black;
    left: 224px;
    top: 24px;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px !important;
}
.navbar-brand img {
    height: 81px;
    width: 82%;
   
    margin-top: -61px;
}
.carousel-inner img {
    vertical-align: middle;
   
}

.navbar-nav {
     margin: -2.5px -15px !important;
    background: white;
    z-index: 1;
    width: 102%;
    position: absolute;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #f5efef;
    width: 100%;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
     border-color: white !important; 
}
.social1 img {
    width: 23%;
    margin-top: 30px;
    margin-bottom: 10px;
}
.social
{
    height:220px;
}
.footer {
    padding-top: 4px;
    margin-top: 0px;
}
.footer p
{
    font-size:12px;
}
.four
{
    height:210px;
}
.four p {
    color: #ee4a25;
    font-size: 19px;
    text-align: center;
    font-weight: bold;
    font-family: 'Poppins',sans-serif;
    padding: 10px;
}
}
/*@media only screen and (max-width: 768px)
{
.navbar-header {
    float: left;
width:18%;
}
.navbar-brand img {
    width: 100%;
}
.two
{
    height: 450px;
}
.start-button
{
        margin-top: 20px;
    font-family: 'Arvo', serif;
    font-weight: bold;
    font-size: 25px;
}
   .two p {
    margin-top: 40px;
    font-size: 25px;
}
.two h4
{
    font-size: 30px;
    height: 55px;
}
.first h2
{
    font-size: 50px;
}
.social
{
    height: 300px;
}
.social1 img {
    width: 20%;
    margin-top: 40px;
}
.footer {
   
    padding-top: 9px;
   
    font-size: 19px;
}
}*/